# Godot 4+ specific ignores
.godot/
/android/
/addons/
.obsidian/

build/
builds/
dist/

.vs/

*.user
*.suo
*.sln.docstates

bin/
obj/

*.godot-mono-build-info/
*.import

.mono/

Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/